{deps_dir, [deps]}.
{erl_opts,
  [
    {i, "./include"},
    {i, "./src/hrl"}
  ]}.

{pre_hooks,
  [
    {compile, "erl -run leex file \"src/patterns_lex.xrl\" -run init stop"},
    {compile, "erl -run yecc file \"src/patterns_parser.yrl\" -run init stop"}
  ]
}.
{deps,
  [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
  ]}.

{sub_dirs, ["rel"]}.
